




html, body {
	height: 100%;
	background-color:#FFFFFF;
	font-size:12px;
	padding:0;
	margin:0;

}



table{
	font-size:12px;
}


.align_center{	text-align: center;}
.align_left{	text-align: left;}
.align_right{	text-align: right;}

.underline{ text-decoration:underline; }
.italic{ text-decoration:italic; }

.bl{	border-bottom:1px solid #000000;}
.lb{	border:1px dotted #ccc;}
.hand			{	cursor:pointer;}
.nod			{	display:none;}

.pad_left{ padding-left:15px; }
.pad_top{ padding-top: 15px; }

.right_line{

	border-right:1px solid #999999;

}

.transbg{
	background:transparent;
}

.redbg{
	background-color:#ff0000;
}

.yellowbg{
	background-color:#FFFF00;
}

.greenbg{
	background-color:#00FF00;
}


.error_row{

	background-color:#ff0000;
}



.row0{
	background-color:#cccccc;
	padding:2px;
	color:#000000;
}

.row1{
	background-color:#fff;
	padding:2px;
	color:#000000;
}

.row0_highlight{
	background-color:#aaa;
	padding:2px;
	color:#000000;
}

.row1_highlight{
	background-color:#aaa;
	padding:2px;
	color:#000000;
}


.row2{
	font-family: Arial,sans-serif;
	border-bottom:1px solid #000;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	padding:5px;
	height:25px;
}

.big{
	font-size:18px;
}

.row2 a{
	color:#000;
}

a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
	color: black;
}
a:active {
	text-decoration: underline;
	color: black;
}
a:hover {
	text-decoration: underline;
	color: black;
}
#progress-wrp {
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}
#progress-wrp .progress-bar{
    height: 100%;
    border-radius: 3px;
    background-color: #0099CC;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}
#progress-wrp .status{
    top:3px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #000000;
}
#startTimeFilter, #endTimeFilter {
	float: right;
	padding-left: 6px;
}
.search {
	font-size: large;
	font-weight: bolder;
}
.lefty {
	text-align: left;
	align-content: baseline;
}
.righty {
	text-align: right;
	align-content: baseline;
}
.centery {
	text-align: center;
	align-content: baseline;
}
.pct20 {
	width: 20%;
}
.pct25 {
	width: 25%;
}
.pct50 {
	width: 50%;
}
.pct75 {
	width: 75%;
}
.pct100 {
	width: 100%;
}
.ht30 {
	height: 30px;
}
#dragZone, #dropZone {
	border: 1px solid #eee;
	margin: 0;
	padding: 5px 0 0 0;
	margin-right: 10px;
}
#dragZone {
	list-style-type: none;
	overflow: hidden;
	display: block;
}
#dragZone li {
	float: left;
	display: block;
}
#dropZone {
	float:left;
	width: 100%;
}
.fldMaker {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
}
.fldTitle {
	position: relative;
	font-size: 0.8em;
	color: orangered;
	/*text-decoration: underline;*/
	float: left;
}
.fldHolder {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	min-height: 36px;
}
.fldActions {
	float: right;
	font-size: 0.6em;
}
.frmActionButton {
    float: right;
}
.fldHeader {
	position: relative;
	top: 2px;
	margin-bottom: 4px;
	width: 100%;
	min-height: 36px;
}
.field > label, .field > input, .field > select, .field > select option{
	font-size: 0.8em;
	font-weight: 600;
}
